.J_top{
    width: 590px;
    height: 340px;
}

.box_hd{
    width: 590px;
    height: 60px;
    position: relative;
}

.box_bd{
    width: 590px;
    height: 250px;
    float: left;
    position: relative;
}

.pai{
    font-size: 24px;
    float: left;
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.pai i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../JD_img/sprite.png")no-repeat right top;
    position: absolute;
    float: right;
    top: 39px;
    left: 95px;

}

.pai:hover i{
    background: url("../JD_img/sprite.png")no-repeat;
}

.til{
    width: 382px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 100px;
}

.til ul li{
    float: left;
    list-style: none;
    margin-left: 10px;
    color: #cccccc;
    cursor: pointer;
}





.box_left{
    width: 270px;
    height: 180px;
    float: left;
    background: #edeeef;

}

.img_center{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 30px;
}

.smalltil{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 20px;
}

.top{
    width: 50px;
    height: 50px;
}

.img_span{
    width: 210px;
    height: 40px;
    position: absolute;
    top: 140px;
    left: 20px;
}
.img_span span{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
   text-align: center;

}

.left_bottom{
    width: 300px;
    height: 84px;
    position: absolute;
    top: 184px;
    left: -43px;
}

.left_bottom ul{
    width: 290px;
    overflow: hidden;
}

.left_bottom ul li{
    width: 134px;
    line-height: 40px;
    text-align: center;
    list-style: none;
    float: left;
    text-align: center;
    background: #edeeef;
    margin: 0 5px 5px 0;
    font-size: 12px;
}

.left_bottom ul li a{
    color: black;
    text-decoration: none;
}

.box_right{
    width: 270px;
    height: 180px;
    float: right;
    position: relative;
}

.box_right ul{
    position: absolute;
    left: -75px;
    top: 0;
}

.box_right ul li{
     width: 270px;
    height: 70px;
    list-style: none;
    margin-bottom: 20px;

}

.box_right li a{
    position: relative;
    text-decoration: none;
}

.top_right{
    position: absolute;
    top: 6px;
}


.img_top{
    position: absolute;
    top: -16px;
    left: 50px;
}

.img_top img{
    width: 70px;
    height: 70px;
}

.top_contend{
    width: 150px;
    height: 32px;
    position: absolute;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;
    left: 111px;
    top: 10px;
    color: black;
    font-size: 12px;
}




/* 自定义字体图标类型 */
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}

/* 调用自定义字体图标的类型 */
.iconfont {
    font-family: 'iconfont';
}